
.centralizar {
    display: flex;
    justify-content: center;     
}

.centro{
    float: right; 
 
}

.espacoTopo{
    margin-top: 5%;
    margin-bottom: 5%; 
}

.espacoLogin{
    margin-top: 8%;
    margin-bottom: 8%; 
}
.corRadio{
    background-color: black;
}
#imagemLogo{
    width: 40px;
}
#imagemLogoLogin{
    width: 80px;
}
.corBotao{
    background-color: black;
}

